<div class="home-wrapper">
  <header class="hero">
    <div class="hero-content">
      <h1 class="fade-in">Capturando Historias, <br />Creando Legados.</h1>
      <p>Fotografía profesional de bodas y eventos sociales en Uruguay.</p>

      <div class="hero-actions">
        <button class="btn-main" routerLink="/agenda" routerLinkActive="active">Mi Agenda</button>
        <button class="btn-alt" routerLink="/agenda" routerLinkActive="active">
          Consultar Disponibilidad
        </button>
      </div>
    </div>
  </header>

  <section class="services">
    <div class="section-info">
      <span class="subtitle">Especialidades</span>
      <h2>Nuestros Servicios</h2>
      <div class="divider"></div>
    </div>

    <div class="service-grid">
      @for (item of services; track item.id) {
        <div class="card" [style.background-image]="'url(' + item.img + ')'">
          <div class="card-overlay">
            <div class="card-text">
              <h3>{{ item.title }}</h3>
              <p>{{ item.desc }}</p>
            </div>
            <a routerLink="/contacto" class="more">Pedir Presupuesto —</a>
          </div>
        </div>
      }
    </div>
  </section>

  <section class="cta-bottom">
    <div class="cta-container">
      <h2>¿Tenés una fecha especial en mente?</h2>
      <p>No dejes que los recuerdos se borren. Asegurá tu fecha hoy mismo.</p>
      <button class="btn-main" routerLink="/contacto">Contactar Ahora</button>
    </div>
  </section>
</div>
